@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,800;1,300&family=Reenie+Beanie&family=Roboto:wght@300;400&display=swap');


body {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    overflow: hidden;
}
nav {
    height: 100px;
    width: 100vw;
    display: inline-block
}
main {
    width: 100vw;
    display: flex;
    padding-top: 50px;
}

#start {
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#start span {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#cardContainer {
    display: none;
}

#cardContainer p {
    text-align: left;
}
.activeGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activeCard {
    width: 90vw;
    max-width: 300px;
    box-shadow: 5px 5px 15px #CCC;
    border-radius: 30px;
    border: solid 1px;
}

h1 {
    font-size: 3rem;
}