@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,800;1,300&family=Reenie+Beanie&family=Roboto:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

main {
    width: 100vw;
    padding-top: 50px;
}

#start {
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#start span {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#cardContainer {
    display: none;
}

.activeKingMessage {
    position: fixed;
    font-size: 5rem;
    z-index: 1000;
    text-align: center;
    transition: ease all 1s;
}

#cardContainer p {
    text-align: center;
}
.activeGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activeCard {
    width: 90vw;
    max-width: 300px;
    box-shadow: 5px 5px 15px #CCC;
    border-radius: 30px;
    border: solid 1px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 25px;
}
#kingMessage {
    padding: 20px 0;
    font-size: 1.2rem;
}
.activeKing {
    color: red;
    animation-name: activeK;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    transition: ease all;
}
.activeCount {
    animation-name: activeC;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: ease all;
}
@keyframes activeK {
    from {
        font-size: 3rem;
    }
    to {
        font-size: 3.5rem;
    }
}
@keyframes activeC {
    from {font-size: 15rem;}
    to {font-size: 1.2rem;}
}